.password-container{
    position: relative;
}
.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .password-toggle-icon i {
    font-size: 18px;
    line-height: 1;
    color: #333;
    transition: color 0.3s ease-in-out;
    margin-bottom: 20px;
  }
  
  .password-toggle-icon i:hover {
    
    color: #000;
  }


  /* Modal initial and active states */
  #modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Start off-screen */
  opacity: 0;
  pointer-events: none; /* Prevent interactions while hidden */
  transform: translateY(-100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

#modal.active {
  align-items: center; /* Move to the center of the screen */
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

/* Notification modal */

#noti_modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Start off-screen */
  opacity: 0;
  pointer-events: none; /* Prevent interactions while hidden */
  transform: translateY(-100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

#noti_modal.active {
  align-items: center; /* Move to the center of the screen */
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}