{% extends 'base.html' %}

{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="w-full flex flex-col lg:flex-row gap-10 justify-between">
    <div class="registerdiv w-[50vw] h-[9vh] lg:h-[9vh] lg:w-[25vw] hover:bg-gray-700 bg-gray-500 flex justify-center items-center rounded-[1vw] ">
        <button id="openmodal"><h1 class="font-medium text-white text-sm lg:text-xl">REGISTER A NEW HOSPITAL</h1></button>

    </div>
    <form id="year-range-form" action="{% url 'dashboard' %}" method="get"  class=" items-center relative">
         <button type="button" title="Filter" id="dropdownButton"> 
            <img src="{% static 'images/filter.png' %}" alt="filter image" class="lg:w-[50%] w-[40%]">
         </button>
         <div id="dropdownMenu" class="hidden origin-top-left absolute border z-50 border-gray-300 left-0  mt-4 w-[90vw] h-[10vh] lg:w-[27vw] lg:h-[18vh]
         rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 ">
            <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="dropdownButton">
               
                <div class="year-select-container flex gap-2 pl-4 lg:pt-8 hover:bg-gray-200">    
                <a href="#" class="block px-2 py-1 lg:px-4 lg:py-2 text-sm text-gray-700 border-2 border-gray-600 hover:bg-gray-100" role="menuitem">
                      <select id="startYearSelect" name="startYear" >
                    <option   value="">Select Start Year

                    </option>
                  
                </select></a>
                <a href="#" class="block px-2 py-1 lg:px-4 lg:py-2 text-sm text-gray-700  border-2 border-gray-600 hover:bg-gray-100" role="menuitem">
                 <select id="endYearSelect" name="endYear" >
                    <option value="">Select End Year

                    </option>
                  
                </select></a>
                <button type="submit" class="">
                    <i class="ri-arrow-right-circle-line text-2xl"></i>
                </button>
                </div>
               
            </div>
        </div>

    </form>
    <form action="{% url 'dashboard' %}" method="get" id="search-form">
        <div class="flex items-center justify-between  p-4">
            <div class="flex items-center space-x-4">
                <button title="Back" class="text-gray-600 bg-gray-300 hover:text-gray-900 rounded focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                    </svg>
                </button>
                <input type="text" placeholder="Search..." name="query" class="py-1 px-4 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" />
            </div>
            <button class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-4 rounded-md focus:outline-none">
                Search
            </button>
        </div>
        
        </form>
        <!-- <ul id="suggestions"></ul> -->
      
    </div>



    <!-- Register modal -->

  
   
    <div id="modal" class="fixed inset-0 flex justify-center items-center z-50 bg-gray-900 bg-opacity-50 hidden">
        <div class="bg-white rounded shadow-xl  p-6 w-[80vw] h-auto lg:w-[40vw]  lg:h-auto">
            <div class="flex justify-end">
               <button id="closeModalBtn" class="focus:outline-none">
                 <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-700 hover:text-gray-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                           </svg>
                               </button>
                           </div>
  
                           <div class="w-full flex  pb-6">
                                <h1 class="text-2xl">Register New Hospital</h1>
                   </div>
                  <div class="h-[1px] p-0 w-full bg-gray-300"></div>
                  <form  id="hospitalmodal" class="text-black h-full w-full  sm:w-[35vw] flex flex-col  items-center py-5 gap-8" action=""   method="POST" enctype="multipart/form-data">
                   {% csrf_token %}
                   
                         
                              
                       <div class="child1 flex flex-col w-full justify-center items-start gap-1 ">
                           <div class="flex flex-col w-3/4">
                               <label class=" font-medium text-left">Hospital Name</label>
                            {{ form.name }}
                           </div>
                           <div class="flex flex-col w-3/4">
                               <label  class=" font-medium text-left">Phone Number</label>
                            {{ form.phone }}
                               
                           </div> 
                           <div class="flex flex-col w-3/4">
                               <label  class=" text-left font-medium">Email</label> 
                               {{ form.email }}
                           </div>
                           <div class="flex flex-col w-3/4">
                               <label  class=" text-left font-medium">Subscription Type</label>
                             {{ form.subscript }}
                           </div>
                       
                  
                      
                           <div class="flex flex-col  w-3/4 hidden " id="days">
                               <label  class=" text-left font-medium ">Number of Days</label>
                               {{ form.no_of_days }}
                           </div>
                           <div class="flex flex-col w-3/4 hidden" id="amount">
                               <label  class="text-left font-medium ">Amount </label>
                               {{ form.amount }}
                                
                           </div>
                           <div class="flex flex-col w-3/4 hidden" id="register_date">
                               <label  class="text-left font-medium ">Registration Date</label>
                              {{ form.registration_date }}
                                
                           </div>
                          
                       </div>
                   
                   <div class="w-full flex justify-start gap-4">
                       <button type="button" id="buttonReset" class="bg-gray-500 px-6 py-2 text-white rounded ">Reset</button>
                       <button type="submit" id="buttonSave" class="bg-blue-500 px-6 py-2 text-white rounded">Submit</button>
                   </div>  
               </form> 
               </div>
           </div>
        
        
          
 <!-- Table -->
     <div  class="tablediv w-full h-[70vh] lg:w-[72vw] lg:h-[80vh]   bg-gray-200 rounded-[2vw] ">
        <div   class=" overflow-y-auto mt-8 h-[70vh]  bg-gray-200 overflow-x-auto">
            {% if hospitals %}
            <table   id="hospitals-table" class="table w-full divide-y divide-gray-400">
                <!-- Table head -->
                <thead>
                    <tr>
                        <th class="px-6 py-3 text-left text-sm leading-4 font-bold text-black whitespace-nowrap  uppercase tracking-wider">SL NO</th>
                        <th class="px-4 py-3 text-left text-sm leading-4 font-bold text-black whitespace-nowrap  uppercase tracking-wider">HOSPITAL NAME</th>
                        <th class="px-4 py-3 text-left text-sm leading-4 font-bold text-black uppercase tracking-wider">AMOUNT</th>
                        <th class="px-4 py-3 text-left text-sm leading-4 font-bold text-black whitespace-nowrap uppercase tracking-wider">DATE OF REGISTER</th>
                        <th class="px-4 py-3 text-left text-sm leading-4 font-bold text-black whitespace-nowrap  uppercase tracking-wider">DATE OF RENEWAL</th>
                        <th class="px-4 py-3 text-left text-sm leading-4 font-bold text-black uppercase tracking-wider">RENEW</th>
                       
                        <!-- <th class="px-4 py-3 text-left text-sm leading-4 font-bold text-black uppercase tracking-wider">STATUS</th> -->
                        <th class="px-4 py-3 text-left text-sm leading-4 font-bold text-black uppercase tracking-wider">BLOCK</th>
                        <th class="px-6 py-3 text-left text-sm leading-4 font-bold text-black uppercase tracking-wider">ACTION</th>

                </thead>
                <!-- Table body -->
                <tbody class=" divide-y divide-gray-400">
                    {% for hospital in hospitals %}
                    <tr>
                        <td class="px-8 py-4 whitespace-nowrap font-bold">{{ forloop.counter }}</td>
                        <td class="px-4 py-4 whitespace-nowrap">{{ hospital.name }}</td>
                        <td class="px-4 py-4 whitespace-nowrap">{{ hospital.amount }}</td>
                        <td class="px-4 py-4 whitespace-nowrap">
                            {% if hospital.subscript == 'Temporary' %}
                            Temporary
                        {% else %}
                            {{ hospital.registration_date|date:"d/m/Y" }}
                        {% endif %}
                        </td>
                       
                        <td class="px-4 py-4 whitespace-nowrap">
                        {% if hospital.subscript == 'Temporary' %}
                            Temporary
                        {% else %}
                            {{ hospital.renewal_date|date:"d/m/Y" }}
                        {% endif %}
                    </td>

                        <td class="px-4 py-4 whitespace-nowrap">
                            {% if hospital.is_renewed %}
                            <span class="text-green-800 font-medium">Renewed</span>
                            {% else %}
                            <span class="text-yellow-800 font-medium">Pending</span>
                            {% endif %}
                        </td>
                        
                        <!-- <td class="px-4 py-4 whitespace-nowrap">
                            {% if hospital.is_blocked %}
                               Blocked
                               {% else %}
                               Unblocked
                               {% endif %}

                        </td> -->
                        <td  class="px-4 py-4 whitespace-nowrap">
                            <form class="blockForm"  action="{% url 'block' hospital.pk %}" method="post">
                                {% csrf_token %}
                            <button type="button"  class="blockBtn bg-red-400 hover:bg-red-700 text-white font-bold py-1 px-2 rounded ">Block</button>
                        </form>
                        </td>
                        <td class="px-4 py-4 whitespace-nowrap">
                            <button type="button" id="edit-button"   data-id="{{ hospital.pk }}"
                            data-name="{{ hospital.name }}"
                            data-phone="{{ hospital.phone }}"
                            data-email="{{ hospital.email }}"
                            data-subscript="{{ hospital.subscript }}"
                            data-days="{{ hospital.no_of_days }}"
                            data-amount="{{ hospital.amount }}"
                            data-registration-date="{{ hospital.registration_date|date:'d/m/Y' }}"
                            data-renewal-date="{{ hospital.renewal_date|date:'d/m/Y' }}"> <i class="fa-solid fa-file-pen ms-3"></i></button>
                            <button type="button" class="delete-button"  data-href="{% url 'delete' hospital.pk %}"><i class="fa-solid fa-trash ms-2"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
             </table>
            {% else %}
            <p class="text-center mt-4 font-medium text-xl">No hospitals found.</p>
            {% endif %}
           </div>
        </div>

<script>
document.addEventListener("DOMContentLoaded", function() {
       
    if (window.location.search) {
      // Remove the query parameters
      window.history.replaceState({}, document.title, window.location.pathname);
    }
  });
</script>
<script src="{% static 'js/register_modal.js' %}"></script>
<script src="{% static 'js/block_modal.js' %}"></script>
<script src="{% static 'js/noti_modal.js' %}"></script>
<script src="{% static 'js/delete_modal.js' %}"></script>
<script src="{% static 'js/filter.js' %}"></script>
{% endblock %}