{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="w-full flex lg:flex-row gap-20 justify-end">
    <div class="registerdiv w-[50vw] h-[9vh] lg:h-[9vh] lg:w-[25vw] bg-gray-200 flex justify-center items-center  border rounded-[1vw]">
        <h1 class="font-medium text-sm lg:text-xl">PAYMENT DETAILS</h1>
    
    </div>
    <form action="{% url 'payment' %}" method="get" id="search-form">
        <div class="flex items-center justify-between  p-4">
            <div class="flex items-center space-x-4">
                <button class="text-gray-600 bg-gray-300 rounded hover:text-gray-900 focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                    </svg>
                </button>
                <input type="text" placeholder="Search..." name="query" class="py-1 px-4 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" />
            </div>
            <button class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-4 rounded-md focus:outline-none">
                Search
            </button>
        </div>
        </form>
    </div>
    <div class="tablediv w-full h-[70vh] lg:w-[72vw] lg:h-[80vh]   bg-gray-200 rounded-[2vw] ">
        <div class=" mt-8 h-[70vh]  bg-gray-200 overflow-x-auto overflow-y-auto">
            {% if   hospitals %}
            <table class="table w-full divide-y divide-gray-400">
                <!-- Table head -->
                <thead>
                    <tr>
                        <th class="px-6 py-3 text-left text-sm leading-4 font-bold text-black whitespace-nowrap  uppercase tracking-wider">SL NO</th>
                        <th class="px-6 py-3 text-left text-sm leading-4 font-bold text-black whitespace-nowrap  uppercase tracking-wider">HOSPITAL NAME</th>
                        <th class="px-6 py-3 text-left text-sm leading-4 font-bold text-black uppercase tracking-wider">AMOUNT</th>
                        <th class="px-6 py-3 text-left text-sm leading-4 font-bold text-black whitespace-nowrap uppercase tracking-wider">PAYMENT DATE</th>
                        <th class="px-6 py-3 text-left text-sm leading-4 font-bold text-black whitespace-nowrap  uppercase tracking-wider">DATE OF RENEWAL</th>
                        <!-- <th class="px-4 py-3 text-left text-sm leading-4 font-bold text-black uppercase tracking-wider">VALIDITY</th> -->
                        <!-- <th class="px-6 py-3 text-left text-sm leading-4 font-bold text-black uppercase tracking-wider">RENEW</th> -->
                        <!-- <th class="px-4 py-3 text-left text-sm leading-4 font-bold text-black uppercase tracking-wider">ACTION</th> -->
                </thead>
                <!-- Table body -->
                <tbody class=" divide-y divide-gray-400">
                    {% for hospital in   hospitals %}
                    <tr>
                        <td class="px-8 py-4 whitespace-nowrap font-bold">{{ forloop.counter }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ hospital.name }}</td>
                        <td class="px-8 py-4 whitespace-nowrap">{{ hospital.amount }}</td>
                        <td class="px-8 py-4 whitespace-nowrap">
                            {% if hospital.subscript == 'Temporary' %}
                            Temporary
                        {% else %}
                            {{ hospital.registration_date|date:"d/m/Y" }}
                        {% endif %}
                        </td>
                        <td class="px-8 py-4 whitespace-nowrap">
                            {% if hospital.subscript == 'Temporary' %}
                                Temporary
                            {% else %}
                                {{ hospital.renewal_date|date:"d/m/Y" }}
                            {% endif %}
                        </td>
                      
                            <!-- <td class="px-4 py-4 whitespace-nowrap">
                                {% if hospital.is_renewed %}
                                <span class="text-green-800 font-medium">Renewed</span>
                                {% else %}
                                <span class="text-yellow-800 font-medium">Expired</span>
                                {% endif %}
                            </td> -->
                            <!-- <td  class="px-4 py-4 whitespace-nowrap">
                                <form id="renewForm" class="renewForm" action="{% url 'renew' hospital.pk %}" method="post">
                                    {% csrf_token %}
                               
                                <button type="submit" class="renewBtn bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-2 rounded ">Renew</button>
                            </form>
                            </td> -->
                            <!-- <td class="px-4 py-4 whitespace-nowrap"> 
                                <button type="button" class="delete-button" data-href="{% url 'delete' hospital.pk %}"><i class="fa-solid fa-trash ms-2"></i></button>
                            </td> -->
                       
                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="text-center mt-4 font-medium text-xl">No hospitals found.</p>
            {% endif %}
           </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                   
                if (window.location.search) {
                  // Remove the query parameters
                  window.history.replaceState({}, document.title, window.location.pathname);
                }
              });
            </script>

{% endblock %}